{% extends 'header_footer.html' %}
{% load static %}
{% block css %}
{% block css_contact %}<link href="{% static 'contact_main2.css' %}" rel="stylesheet" type="text/css">{% endblock css_contact %}
<script src="{% static 'contact_main2.js' %}"></script>
<script src="{% static 'contact_main2_jquery.js' %}"></script>
{% endblock css %}

{% block content %}
<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="sec-6960" data-image-width="1980" data-image-height="1510" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-align-center u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1750">Contact Us</h2>
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-left u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="bounceIn" data-animation-duration="1500" data-animation-direction="Right" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
              <h5 class="u-text u-text-3"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="Icon3.png" alt=""></span>&nbsp;Call Us
              </h5>
              <p class>080 2227 4079
              </p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="bounceIn" data-animation-duration="1500" data-animation-direction="Right" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
              <h5 class="u-text u-text-5"><span class="u-file-icon u-icon u-text-white u-icon-2"><img src="Icon4.png" alt=""></span>&nbsp;Email
              </h5>
              <p class="u-text u-text-6">hostelsjch@gmail.com</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="bounceIn" data-animation-duration="1500" data-animation-direction="Right" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
              <h5 class="u-text u-text-5"><span class="u-file-icon u-icon u-text-white u-icon-2"><img src="Icon1.png" alt=""></span>&nbsp;Location
              </h5>
              <p class="u-text u-text-6">St.Joseph Hostel, 36 lalbagh Road, Bangalore, Karnataka, India 560027</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-3" data-animation-name="bounceIn" data-animation-duration="1500" data-animation-direction="Right" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
              <h5 class="u-text u-text-7"><span class="u-file-icon u-icon u-text-white u-icon-3"><img src="Icon2.png" alt=""></span>&nbsp;Hours
              </h5>
              <p class="u-text u-text-8">Mon – Fri …… 11 am – 8 pm, Sat, Sun&nbsp;&nbsp;…… 6 am – 8 pm</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}