{% extends 'header_footer.html' %}
{% load static %}
{% block css %}
{% block css_contact %}<link href="{% static 'contact_main.css' %}" rel="stylesheet" type="text/css">{% endblock css_contact %}
{% endblock css %}

{% block content %}
<form action="">
    <div class="title">
      <h2>CONTACT</h2>
    </div>
    <div class="half">
      <div class="item">
        <label for="name">NAME</label>
        <input type="text" id = "name">
      </div>
      <div class="item">
        <label for="email">EMAIL</label>
        <input type="text" id = "email">
      </div>
    </div>
    <div class="full">
      <label for="message">MESSAGE</label>
      <textarea name="" id = "message"></textarea>
    </div>
    <div class="action">
      <input type="submit" value = "SEND MESSAGE">
      <input type="reset" value = "RESET">
    </div>
  </form>
  {% endblock %}