{% extends 'header_footer.html' %}
{% load static %}
{% block css_gallery %}
<link href="{% static 'testi_main.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}
{% block content %}
<div class="container_test">
    <div class="testimonial">
        <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt="Testimonial 1">
        <h3>Romel Bernard</h3>
        <h6>Doing Masters in Applied Economics</h6>
        <p>"I had a great experience staying at the college hostel. The facilities were top-notch and the staff was very helpful."</p>
    </div>
    <div class="testimonial">
        <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt="Testimonial 2">
        <h3>Nithin Kumar</h3>
        <h6>Doing Masters in Computer Science</h6>
        <p>"The college hostel provided a comfortable and safe environment for me to focus on my studies. I would definitely recommend it to others."</p>
    </div>
    <div class="testimonial">
        <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt="Testimonial 3">
        <h3>Akshay S</h3>
        <h6>Doing Self financed job in Graphics and Animation</h6>
        <p>"The hostel was clean and well-maintained. I appreciated the quiet atmosphere, which was conducive to studying."</p>
    </div>
    <div class="testimonial">
        <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt="Testimonial 4">
        <h3>Austin Paul</h3>
        <h6>Doing Masters in English</h6>
        <p>"I enjoyed the community feel of the hostel. The common areas provided a space for socializing and meeting new people."</p>
    </div>
    <div class="testimonial">
        <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt="Testimonial 5">
        <h3></h3>
        <p>"The hostel staff was always available to help with any issues or concerns. They went above and beyond to make sure I had a comfortable stay."</p>
    </div>
    <div class="testimonial">
        <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt="Testimonial 6">
        <h3>Nikhil Ben Mathews</h3>
        <p>"The hostel provided a convenient location close to campus, making it easy for me to get to my classes and other activities."</p>
    </div>
    <div class="testimonial">
        <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt="Testimonial 7">
        <h3>Justin Jacob</h3>
        <p>"I appreciated the range of amenities available at the hostel, including a gym and laundry facilities. It made my stay much more comfortable."</p>
    </div>
</div>
  {% endblock %}